profiles {
    lsf {
        process {
            executor = 'lsf'
            clusterOptions = '-P acc_NGSCRC -q premium'
            memory = '16.GB'
            time = '12.h'
            cpus = 1
        }
    }
}

params {
    input = "samplesheet.csv"
    outdir = "results"
    reference_fasta = "/sc/arion/projects/NGSCRC/Resources/gatk_hg38/gatk_bundle_2024/Homo_sapiens_assembly38.fasta"
    species = "homo_sapiens"
    ncbi_build = "GRCh38"
    vep_path = "/hpc/users/monsok03/.conda/envs/vcf2maf_work/bin"
    vep_data = "/sc/arion/projects/NGSCRC/Resources/VEP"
    cache_version = "113"
    vcf2maf_path = "$HOME/software/vcf2maf"
}

process {
    withName: 'VCF2MAF_SOMATIC' {
        cpus = 1
        memory = '16.GB'
        time = '12.h'
        clusterOptions = '-P acc_NGSCRC -q premium'
        module = 'anaconda3/latest'
        beforeScript = """
        source ~/.bashrc
        conda activate vcf2maf_work
        export PATH=${params.vcf2maf_path}:\$PATH
        """
    }
    withName: 'VCF2MAF_GERMLINE' {
        cpus = 1
        memory = '16.GB'
        time = '12.h'
        clusterOptions = '-P acc_NGSCRC -q premium'
        module = 'anaconda3/latest'
        beforeScript = """
        source ~/.bashrc
        conda activate vcf2maf_work
        export PATH=${params.vcf2maf_path}:\$PATH
        """
    }
    withName: 'MERGE_MAFS' {
        cpus = 1
        memory = '8.GB'
        time = '2.h'
        clusterOptions = '-P acc_NGSCRC -q premium'
    }
}

executor {
    queueSize = 10
    pollInterval = '30 sec'
}

timeline.enabled = true
timeline.file = "${params.outdir}/pipeline_info/execution_timeline.html"
timeline.overwrite = true

report.enabled = true
report.file = "${params.outdir}/pipeline_info/execution_report.html"
report.overwrite = true

trace.enabled = true
trace.file = "${params.outdir}/pipeline_info/execution_trace.txt"
trace.overwrite = true

dag.enabled = true
dag.file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
dag.overwrite = true